.todo-list {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 90px;
    margin-bottom: 45px;
    padding: 0;

    & .button {
        width: auto;
        font-size: 14px;
        padding: 5px 14px;
        display: flex;
        align-items: center;

        img {
            margin-left: 14px;
        }
    }
    &-item {
        border: 1px solid var(--color-gray);
        border-radius: 16px;
        padding: 24px;
        display: flex;
        align-items: flex-start;
        margin-bottom: 30px;
    
        p {
            color: var(--color-dark);
            font-weight: 600;
            font-size: 16px;
            line-height: 28px;
            text-align: left;
            padding-right: 50px;
            padding-left: 10px;
    
            &.completed {
                text-decoration: line-through;
            }
        }
        &-button {
    border: none;
    background-color: var(--color-white);
    position: relative;
    cursor: pointer;
    padding-left: 27px;
}
    }
}

.checkbox {
    position: relative;
    margin-top: 2px;

    span,
    input {
        border: 1px solid var(--color-gray);
        border-radius: 4px;
        height: 20px;
        width: 20px;
        cursor: pointer;
        margin: 0;
    }

    input {
        position: relative;
        z-index: 2;
        opacity: 0;
    }

    span {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input:checked~span {
        background-color: var(--color-green);
        border-color: var(--color-green);
    }
}
dialog {

    h3 {
        padding: 0;
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 26px;
        line-height: 22px;
        color: var(--color-dark);
    }
    .removing-dialog-description {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: var(--color-dark);
        align-items: center;
        margin: 20px 0 40px;
    }
    .button {
        color: var(--color-dark);
        background: var(--color-white);
        border: 1px solid var(--color-gray);
        box-shadow: none;
        font-weight: 700;
        margin-top: 40px;
    
    }
}